.table {
  width: 50%; 
  background: rgb(124, 18, 18); 
  color: white; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
tr {
  display: flex;
}
th {
  margin: 40px;
}

td {
  margin: 40px;
}

.imgIcons{
  width: 40px;
  /* display: flex; */
  margin: 0 50px;
}